.myCarrousel {
    width: 100%;
    max-height: 80vh;
}
.carousel-item {
    height: 70vh;
}
.myImg {
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    height: 100%; /* Ajusta la altura del contenedor del carrusel */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}

.carousel-inner {
    text-align: center;
}