<div class="myContainer containerText">
  <h1 class="myTitulos">Sensación</h1>
  <p class="myTextVisible">
    En el siguiente enlace encontraras diferentes actividades sensoriales; deberás escoger una de ellas y realizarla según el instructivo.
    <br><br>
    Al finalizar deberás escribir o grabar un audio de las sensaciones provocadas por dicha actividad.
    <br><br>
    <br><br>
  </p>
  <div class="myTextVisible btnContainer">
    <a href="https://padlet.com/pperezbe/construyendo-i3m7vv9esczf" target="_blank">
      <button type="button" class="btn btn-info">Ver actividades</button>
    </a>
  </div>

  <br><br><br><br><br>

  <h1 class="myTitulos">
    Observa y escucha el cuento de los sentidos
  </h1>
  <youtube-player 
    videoId="55JgnrwlUmk" 
    suggestedQuality="highres"
    [height]="250" 
    [width]="500">
  </youtube-player>

  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
</div>