<div class="myContainer containerText">
  <h1 class="myTitulos">Sensación</h1>
  <p class="myTextVisible">
    En el siguiente enlace encontraras diferentes actividades sensoriales; deberás escoger una de ellas y realizarla según el instructivo.
    <br><br>
    Al finalizar deberás escribir o grabar un audio de las sensaciones provocadas por dicha actividad.
    <br><br>
    <br><br>
  </p>
  <div class="myTextVisible btnContainer">
    <a href="https://padlet.com/pperezbe/construyendo-i3m7vv9esczf" target="_blank">
      <button type="button" class="btn btn-info">Ver actividades</button>
    </a>
  </div>

  <br><br><br><br><br>

  <h1 class="myTitulos">
    Patrones posturales
  </h1>
  <p class="myTextVisible">
    Un camino saludable no es dejar de trabajar ni de estudiar, sino compensar esas horas en que uno inmoviliza su cuerpo, con movimientos y estiramientos dentro del mismo lugar de trabajo o de estudio, ya que de lo que se trata es de evitar reforzar un patrón postural.
    Por otra parte, y en relación a los factores de riesgo que menciona el profesional para describir el tercer pilar importante de la prevención postural, se recomienda no tomar “actividad física” como sinónimo de “salud”, sino que hay que ser conciente del tipo de deporte elegido, la frecuencia con que se realizará, la edad de la persona, el calzado utilizado y la superficie sobre la cual se trabajará.
    “Hay un montón de cuestiones que no se trabajan bien”, expone Sergio Castellini. Por eso, como resumen de lo que es prevención de la postura, hay que tener en cuenta los tres ejes principales: la desadaptación evolutiva, la impronta postural que dejan las tareas cotidianas y considerar que la actividad que vamos a realizar, sea a favor y no un agravante en la salud.
    Es importante que todas las personas en general, tomen conciencia de la importancia de mantener hábitos posturales saludables y de realizar pequeñas pausas a lo largo del día que permitan la movilidad corporal.
  </p>
</div>