<div class="containerText myContainer">
  <!-- <p class="tittle01">Discapacidad Intelectual</p>
  <hr class="hr" />
  <p class="tittle02">Dimensión Intelectual</p> -->

  <youtube-player 
    videoId="mQCSWT_zRfM" 
    suggestedQuality="highres"
    [height]="250" 
    [width]="500">
  </youtube-player>
  <br>
  <p class="myTextVisible">
    El procesamiento de información es fundamental para el funcionamiento de la mente como lo expresa la teoría cognitivista, entendida desde la analogía de las computadoras, el trabajo que realiza un  ordenador para procesar la información es similar a lo que hace la mente humana ya que desarrolla una operación secuencial y sucesiva que se inicia con la percepción y la entrada de la información más conocida como la etapa del input, que continúa con el almacenamiento y la interpretación que permite producir una respuesta es decir que es el momento que se da  el procesamiento en sí mismo; finalizando con la salida de dicha respuesta  más conocido como output. <br> <br>
    Con lo anterior se puede destacar la importancia que tiene la sensación y percepción en el procesamiento de información; ya que en la sensación son procesos activos de conocer y codificar las sensaciones que  llegan y estas permiten la organización y estructuración de los estímulos sensoriales especialmente auditivos y visuales en unidades significativas, ya que de lo contrario, nos llegaron los fenómenos fragmentados, divididos e incluso incompletos imposibilitando el proceso de la comprensión. <br> <br>
    Desde la  percepción sensoperceptual se afirma que es el pilar que  permite captar a través de los sentidos las señales exteriores. Qué sería de los seres humanos  si reciben  un golpe, y no sintieran dolor o quizás si te quemas no sientes ardor evidentemente no se podría interpretar ni comprender los estímulos externos y por enfermedad no se lograría obtener una respuesta. <br> <br>
    El procesamiento de información sensoperceptual puede definirse como el conjunto de procesos y actividades relacionados con la estimulación que alcanza a los sentidos, mediante los cuales obtenemos información respecto a nuestro hábitat, las acciones que efectuamos en él y nuestros propios estados internos. <br> <br>
  </p>
  <br>
  <div class="secondImg">
    <img src="/assets/img/inicio002.jpeg" alt="inicio.jpg">
  </div>
  <br>
  <youtube-player 
    videoId="hXGjI8G_RZ4" 
    suggestedQuality="highres"
    [height]="250" 
    [width]="500">
  </youtube-player>

  <br><br><br><br>

  <div class="firstImg">
    <img src="/assets/img/inicio001.jpeg" alt="inicio.jpg">
  </div>
  <p class="myTextVisible">
    Proteger una postura saludable durante las actividades cotidianas, no sólo ayuda a prevenir dolores de cuello, espalda, cintura, sino también a evitar que esos problemas se intensifiquen con el tiempo. El celular, la computadora o notebook, la tablet, la playstation, y otros tantos, irrumpieron en la vida de las personas y en sus actividades cotidianas modificando las formas de comunicación, trabajo y hasta entretenimiento. Vivimos utilizando estas tecnologías muchas horas por día y el sobre uso más el sedentarismo conlleva un problema preocupante que son las patologías de postura corporal que se dan desde una edad temprana.
    “En primer lugar, algo que siempre remarco tiene que ver con que como especie, dentro del proceso evolutivo, el hombre tuvo cierta evolución a nivel óseo-articular incompleta. Hoy en día todavía no tenemos una adaptación ciento por ciento a la postura de bipedestación. Está bueno tener en cuenta esto ya que como especie tenemos cierta vulnerabilidad en ese sentido, y lo creo importante para empezar a entender el porqué de un montón de situaciones y problemas de salud a nivel de la columna, como discopatías y distintas lesiones que uno va sufriendo a lo largo de la vida.
    "En segundo lugar, las posiciones que uno adquiere en el ámbito laboral, o los gestos que se reiteran a diario en una actividad realizada frecuentemente, con el tiempo marcan una impronta en la postura. Y finalmente, está lo que tiene que ver con adquirir hábitos saludables. Estamos hechos para movernos y no para estar quietos en una posición durante seis u ocho horas diarias, que es lo que la mayoría termina haciendo. Ahí es donde destaco la importancia de realizar una actividad física saludable. Y enfatizo esto: no por ser una actividad física, ya intrínsicamente se relaciona con algo que sea saludable”.
    Para ejemplificar en los estudiantes u oficinistas, Castellini explica que “uno observa que pasan muchas horas cursando, pero después de los 15 minutos sentados es raro que puedan mantener una postura ideal, por lo que empiezan a buscar posturas cómodas que resultan ser viciosas y a lo largo de un par de horas, la posición termina siendo lo más lejano de lo ideal. Entonces un secreto para evitar eso es realizar pausas programadas cada 45 minutos o una hora. Y con el hecho de pararse, caminar tres pasos, desperezarse un poquito, estirarse y volver a sentarse, ya por lo menos se evita que la musculatura y la fascia, que es el tejido que la envuelve, no se condense tanto”.
  </p>
  <br><br><br>
  <h1 class="myTitulos">
    Patrones posturales
  </h1>
  <p class="myTextVisible">
    Un camino saludable no es dejar de trabajar ni de estudiar, sino compensar esas horas en que uno inmoviliza su cuerpo, con movimientos y estiramientos dentro del mismo lugar de trabajo o de estudio, ya que de lo que se trata es de evitar reforzar un patrón postural.
    Por otra parte, y en relación a los factores de riesgo que menciona el profesional para describir el tercer pilar importante de la prevención postural, se recomienda no tomar “actividad física” como sinónimo de “salud”, sino que hay que ser conciente del tipo de deporte elegido, la frecuencia con que se realizará, la edad de la persona, el calzado utilizado y la superficie sobre la cual se trabajará.
    “Hay un montón de cuestiones que no se trabajan bien”, expone Sergio Castellini. Por eso, como resumen de lo que es prevención de la postura, hay que tener en cuenta los tres ejes principales: la desadaptación evolutiva, la impronta postural que dejan las tareas cotidianas y considerar que la actividad que vamos a realizar, sea a favor y no un agravante en la salud.
    Es importante que todas las personas en general, tomen conciencia de la importancia de mantener hábitos posturales saludables y de realizar pequeñas pausas a lo largo del día que permitan la movilidad corporal.
  </p>
  <div>
    <video controls width="640" height="360">
      <source src="/assets/video/videoInicio001.mp4" type="video/mp4">
      Tu navegador no admite la reproducción de videos.
    </video>
  </div>
  <div>
    <video controls width="640" height="360">
      <source src="/assets/video/videoInicio002.mp4" type="video/mp4">
      Tu navegador no admite la reproducción de videos.
    </video>
  </div>


  <br><br><br>
  <div>
    <h2 class="myTitulos">¿Cuál es la importancia del desarrollo sensorial?</h2>
    <p class="myTextVisible">
      Los primeros años de vida son clave para el aprendizaje y desarrollo cognitivo de una persona. El niño estudia el entorno que le rodea a través de sus sentidos para poder comprenderlo. Es como una esponja, es decir, está en constante aprendizaje.
    </p>
    <p class="myTextVisible">
      El cerebro infantil realiza muchas más conexiones que el adulto; y cuanto más rico es el ambiente en el que se encuentra el niño, mayor es el número de conexiones, dando lugar a un aprendizaje más rápido y más significativo.  Es decir, el entorno condiciona la forma en que el cerebro se va construyendo.
    </p>
    <p class="myTextVisible">
      La importancia de la educación sensorial en el aula radica en que, solamente a través de los sentidos, el cerebro puede construir nuevos aprendizajes. Los sentidos posibilitan el aprendizaje cognitivo, pero también el afectivo, el emocional y el social, es decir, el desarrollo integral del niño.
    </p>
  </div>


  <br><br><br>
  <div>
    <h2 class="myTitulos">¿Cuál es la importancia de la percepción?</h2>
    <p class="myTextVisible">
      El desarrollo de la percepción se refiere a la manera en que los niños empiezan a captar, interpretar y entender la información sensorial. La percepción permite que los niños se adapten a su ambiente y se relacionen con ello mediante el uso de los sentidos. Los niños nacen con la capacidad de ver, oír, oler, gustar y tocar. Aunque dichos sentidos no están plenamente desarrollados al nacimiento, se mejoran rápidamente durante los primeros meses de vida. Por ejemplo, la visión de un recién nacido está limitada a entre 8 y 12 pulgadas.
    </p>
    <p class="myTextVisible">
      El desarrollo de la percepción está estrechamente relacionado al desarrollo físico ya que las capacidades motoras crecientes de los niños les permiten explorar sus ambientes de nuevas maneras. Los niños pueden usar la movilidad para extender la mano hacia objetos, o jugar con objetos de varias maneras.
    </p>
  </div>


  <br><br><br>
  <div>
    <h2 class="myTitulos">¿Importancia de la postura corporal en el aprendizaje?</h2>
    <p class="myTextVisible">
      La madurez en la motricidad y equilibrio del niño se va desarrollando desde su nacimiento, evolucionando con el movimiento y todas las actividades físicas que va realizando (sentarse, gatear, caminar, correr, estirarse, hacer palmas, coger utensilios, etc.). Estas actividades son imprescindibles para la adquisición de la fuerza, coordinación, agilidad y demás aspectos que conforman un adecuado desarrollo.
    </p>
    <p class="myTextVisible">
      Es fundamental que los niños adquieran, desde el principio, hábitos adecuados al sentarse a la mesa.  No nos referimos solamente a la postura correcta del cuerpo, sino a la importancia de tener los dos brazos encima de la mesa y de acostumbrar a nuestros peques a utilizar ambas manos en las tareas cotidianas. Así se favorecen aspectos tan importantes para el aprendizaje como son: la coordinación entre ambas manos, la coordinación óculo-manual, el desarrollo de la pinza digital en ambas manos, favorecer la atención, el gusto por las cosas bien hechas, etc.
    </p>
  </div>








</div>