<div class="myContainer containerText">
  <h1 class="myTitulos">Actividad 1</h1>
  <p class="myTextVisible">
    El niño en compañía de su acudiente creará unos sellos caseros con esponjas de cocina o con borradores según las formas e instrucciones dadas a continuación:
    <br><br>
    1. Observar la siguiente guía.<br>
    2. Observar el video guía.<br>
    3. Cortar 4 trozos de espuma o de borrador en forma de rectángulo, cuadrado, círculo y triángulos con tijeras o bisturí.<br>
    4. Pintar las figuras recortadas con temperas o vinilos, sin dejar secar.<br>
    5. Cada jugador debe colocar los sellos de las figuras realizadas según el orden mostrado  en la guía, plásmalo en  una hoja blanca.<br>
    6. El primer jugador en terminar gana una premiación según el gusto del ganador.<br>
  </p>
  <div>
    <video controls width="640" height="360">
      <source src="/assets/video/videoAtencion001.mp4" type="video/mp4">
      Tu navegador no admite la reproducción de videos.
    </video>
  </div>
  <br><br><br>
  <h1 class="myTitulos">Actividad 2</h1>
  <p class="myTextVisible">
    1.  Se le solicita al estudiante que en compañía de su acudiente construya un bate o palo de hockey usando una sombrilla, un palo de escoba o otro objeto similar, deberá añadirle un pedazo de cartón a la punta del objeto; se recomienda pegarlo con cinta o amárralo al objeto.<br>
    2.  Después se deberá crear 4 círculos, 4 cuadrados, 4 rectángulos y 4 triángulos en cartón u otro material similar, aproximadamente un tamaño de 10 cm por cada lado.<br>
    3.  Se le solicita al estudiante que en compañía de su acudiente pegue cinta en el suelo construyendo un camino, así mismo deberá realizar con cinta 4 figuras geométricas 🟪🟡🔺▅ distribuidas en diferentes puntos o extremos del camino.<br>
    <br><br>
    Finalmente, se le solicita al estudiante que realice el recorrido llevando cada una de las figuras pequeñas y ubicándolas en el camino a donde pertenecen, para realizar el recorrido el estudiante contará con un tiempo de 15 minutos en el segundo intento lo hará con tan solo 10 y finalmente 5 minutos. puede guiarse cuantas veces sea necesario con el video guía que aparece en la parte inicial
  </p>
  <div>
    <video controls width="640" height="360">
      <source src="/assets/video/videoAtencion002.mp4" type="video/mp4">
      Tu navegador no admite la reproducción de videos.
    </video>
  </div>
  <br><br><br><br>
  <h3 class="myTitulos">¡POR CUMPLIR CADA ACTIVIDAD GANARAS UNA ESTRELLA, AL FINAL ECONTRARAS TU RECOMPENSA!</h3>
</div>