<div class="myContainer containerText">
  <h1 class="myTitulos">Actividad 1</h1>
  <p class="myTextVisible">
    Te invitamos a explorar nuestra presentación en Canva. En ella, encontrarás una muestra de nuestro trabajo. ¡Haz clic en el enlace a continuación! Después, siéntete libre de regresar a nuestra página para obtener más información sobre lo que hacemos.
    <br><br>
    <br><br>
  </p>
  <div class="myTextVisible btnContainer">
    <a href="https://www.canva.com/design/DAEbq4EFm9Y/Nl9_bqAlaY65RbbU4aw-rw/view" target="_blank">
      <button type="button" class="btn btn-info">Ver presentación</button>
    </a>
  </div>
</div>