/* You can add global styles to this file, and also import other style files */
.myTextVisible {
    background-color: rgb(51 121 242 / 75%);
    font-weight: 500;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.myContainer {
    height: 80vh;
    overflow-y: auto;
}

.myTitulos {
    background-color: rgb(197 214 243 / 90%);
    font-weight: 700;
    color: #120ceb;
    padding: 10px 20px;
    border-radius: 20px;
}

.containerText {
    text-align: center;
    font-weight: 700;
}
.containerText p {
    text-align: justify;
}




/* Personalización de la barra de desplazamiento */
/* Webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento vertical */
    height: 12px; /* Altura de la barra de desplazamiento horizontal */
  }
  
  /* Estilo de la barra de desplazamiento vertical */
  ::-webkit-scrollbar-thumb {
    background-color: #69e0bd; /* Color del pulgar (barra móvil) */
    border-radius: 6px; /* Radio de borde del pulgar */
  }
  /* Estilo de la barra de desplazamiento horizontal */
::-webkit-scrollbar-thumb:horizontal {
    background-color: #007bff; /* Color del pulgar (barra móvil) en horizontal */
  }
  
  /* Estilo de la pista (barra de fondo) de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background-color: #171be9; /* Color de fondo de la pista */
  }
  
  /* Estilo de la pista (barra de fondo) de la barra de desplazamiento horizontal */
  ::-webkit-scrollbar-track:horizontal {
    background-color: #f1f1f1; /* Color de fondo de la pista en horizontal */
  }